
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% block content%}
<div class="container">
    <a href="{% url 'new-group' %}" class="btn btn-sm btn-info mb-2"> Chama Groups</a>

    <h2>Search and Join a Chama near you</h2>

    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>

    <br>
    <br>
    <div class="row">
        <h2>CREATE YOUR OWN CHAMA GROUP</h2>
        <div class="col-md-4">
            <div class="card mb-4" style="min-height:340px">
                <img src='https://www.kindpng.com/picc/m/410-4108493_united-world-people-united-clipart-hd-png-download.png'>
                <h5 class="card-title">CHAMA</h5>
                <p class="card-text"></p>
                <br>
                <br>
                <div class="card-body">
                    <a href="{% url 'new-group' %}" class="btn btn-sm btn-info mb-2">Create Chama</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
