{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" >
    <div class="text-white text-center" style="margin-top:15% background-image:url('https://images.unsplash.com/photo-1561414927-6d86591d0c4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80'); background-repeat:no-repeat;background-size:cover" >
        <h1>Welcome to Student Chama</h1>
        
        <h5 style="margin-top:6%">Get Started by joining your chama group today!</h5>
        
    </div>

</div>
{% endblock %}