
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap3 %}
{% block content%}

    <div>
        <h3 style="border: underline;">RULES AND REGULATIONS FOR THE CHAMAS</h3>
        
        <br>
        <ul>
            <li>Firstly, the company expects formal and acceptable behaviors from employees. The prime motive of the company is to attract customers through the exemplary conduct of the employees.

            </li>
            <li>In addition, employees are liable to protect the company’s belongings for office purposes. They will be responsible for breaking any official equipment such as a computer, printer, scanner, camera, etc. Employees can use the official equipment only for official purposes.

            </li>
            <li>Our company is very aware of maintaining the record; therefore, every employee must protect documents. The office will not accept any argument without proper evidence. Hence, employees should preserve official documents for future demand.

            </li>
            <li>Our Company prefers to create a friendly working environment. The Company will fire those employees who are indulged in sexual harassment. Therefore, every employee has to stay away from any oral and physical harassment.

            </li>
            <li>Employees shall follow the dress code according to the directives of the company authorities. The Company prefers to see the employee in formal attire.
            </li>
        </ul>
    </div>
{%endblock%}