{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-sm btn-info">Login</button>
            </form>
            <br>
        </div>
        <br>
        <br>

        <p>
            Do you need an Account? <a style="color: red;" href="{% url 'signup' %}">Sign Up Now</a>
        </p>

        <br>
        <br>
        <p>y-CHAMA is a savings and investment fintech app 
            that enables people to come together save and invest
        </p>
    </div>
</div>

{% endblock %}