{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button class="btn btn-md btn-info"><a href="{% url 'group' %}" class='text-white'>Login</a></button>
            </form>
            <br>
        </div>
       >
    </div>
</div>

{% endblock %}