{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
        .signup{


            border-radius: 8px;
        }

        .form{
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
        }

</style>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <div class="signup">

                <form class="form" action="" method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-md btn-info" ><a href="{% url 'login' %}"style="color:white">Sign Up</a></button>
                </form>

            </div>
            <br>
            <p>
                Already have an Account? <button><a style="color: rgb(43, 169, 219);" href="{% url 'login' %}">LogIn</a></button>
            </p>
            <br>
            <br>
            

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}